* {
    font-family: 'Bodoni Moda', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding: 3em;
    border: 1;
    width: 100%;
    margin: 0.5em auto;
    padding: 0 2px;
    max-width: 1800px;
    background: #96c4c4;
}

section {
    background: #e4fbfb;
}

.banner {
    background: url(foxrabbit.jpg);
    background-size: contain;
    max-height: 90%;
}

.Titulo h1 {
    font-weight: 500;
    font-size: 70px;
    padding-bottom: 0;
    -webkit-text-stroke: 0.8px black;
}

.Titulo h2 {
    font-weight: 500;
    font-size: 40px;
    font-style: italic;
    padding-top: 3px;
    -webkit-text-stroke: 0.8px black;
}

.Titulo h3 {
    font-style: italic;
    padding-top: 3px;
    text-decoration: underline;
}

h1, h2, h3 {
    padding-bottom: 15px;
    text-align: center;
    color: #bf9780;
    text-transform: uppercase;
}

.Cuerpo {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

p, dd, dt {
    font-size: 130%;
    max-width: 55rem;
    margin: 0 auto 0.5em;
    text-align: justify;
    white-space: pre-line;
    font-family: 'Rubik', sans-serif;
}

dt {
    font-style: italic;
    font-weight: bold;
}

.espa {
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

.nahuatl {
    font-style: italic;
}

.Separador {
    max-width: 65rem;
    height: 8rem;
    margin: 0 auto 0.5em;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

audio {
    display: flex;
    padding-top: 5px;
    align-items: center;
    margin: 5px auto;
}

.NavegaBarra {
    padding: 1rem 5rem;
    position: sticky;
    top: 0px;
}

nav {
    border: 2px solid #aedddd;
    border-radius: 5px;
    text-align: center;
    margin: 1em 20rem;
    background: #96c4c4;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0.5em 0;
    background: #96c4c4;
}

li {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}

.item {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.Comentarios {
    margin: 0 2em;
}

footer{
    background: #005f73;
    padding: 30px 0 15px 0;
    margin: 0;
}

.PiePage {
    display: flex;
    width: 100%;
    height: 80%;
    max-height: 300px;
    background: inherit;
}

.PiePage div {
    background: inherit;
}

.Column {
    margin: 0 2.5em;
    text-align: center;
}

.Column h4{
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.Column p {
    color: #ccc;
    background: inherit;
    font-size: 15px;
}

.Small {
    text-align: justify;
    font-size: 10px;
    margin: 2.5em auto;
    color: #9e9797;
}

.ref {
    color: #9e9797;
    text-decoration: none;
    background: inherit;
}

.Extra {
    margin: 0 8.5em;
    padding: 1rem 41rem;
}

.Extra a{
    text-decoration: none;
    display: block;
    max-width: 300px;
    padding: 5px 0;
}
